@media (max-width: 1200px) {}


@media (max-width: 1030px) {

    .header__inner {
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 94px;
        z-index: 10;
        padding: 0px 15px;
        background-color: rgba(255, 255, 255, .8);
    }

    .header__burger {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }

    .header__menu {
        z-index: 5;
        display: flex;
        align-items: center;

        p {
            display: block;
        }
    }

    .header__burger-btn {
        border: none;
        cursor: pointer;
        position: relative;
        transition: all .2s linear .2s;
    }

    .header__burger-btn,
    .header__burger-btn::before,
    .header__burger-btn::after {
        display: block;
        border-radius: 2px;
        width: 30px;
        height: 2px;
        background-color: #212D55;
    }

    .header__burger-btn::before,
    .header__burger-btn::after {
        content: '';
        position: absolute;
        transition: transform .2s ease-in, top .2s linear .2s;
        left: 0;
    }

    .header__burger-btn::before {
        top: -10px;

    }

    .header__burger-btn::after {
        top: 10px;

    }

    .header__burger-btn._active {
        background-color: transparent;
        transition: all .2s linear;

        &:before {
            transform: rotate(45deg);
            top: 0;
            transition: top .2s linear, transform .2s ease-in .2s;
        }

        &:after {
            transform: rotate(-45deg);
            top: 0;
            transition: top .2s linear, transform .2s ease-in .2s;
        }
    }

    .menu__body {
        margin-top: 94px;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #212D55;
        padding: 25px 30px 30px 30px;
        transition: left .3s ease 0s;
        overflow: auto;
        z-index: 15;
    }

    .menu__body._active {
        left: 0;
    }

    // .menu__body::before {
    //     content: '';
    //     position: fixed;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     height: 70px;
    //     background-color: #912105;
    //     z-index: 2;
    // }

    .menu__list>li {
        flex-wrap: wrap;
        margin: 0px 0px 30px 0px;
    }

    .menu__list>li:last-child {
        margin-bottom: 0;
    }

    .menu__list>li._active .menu__sub-list {
        display: block;
    }

    .menu__link {
        font-size: 24px;
        color: #fff;
    }

    .menu__sub-list {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin-top: 20px;
        display: none;
    }



    .menu__sub-link {
        font-size: 20px;
        color: #000;
    }

    .header-nav {
        display: none;
    }

    .intro {
        padding-top: 160px;
    }

    .menu__list {
        text-align: right;

        li {
            padding-right: 10px;
        }

        .menu__link {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            position: relative;

            &:after {
                content: url(../images/menu-arrow.png);
                position: absolute;
                width: 11px;
                height: 11px;
                top: 0;
                right: -20px;
            }


        }

        .contact_us_wrap {
            text-align: right;
            color: #fff;

            .contact_us-tel {
                color: #fff;
            }

            .contact_us-link {
                color: #fff;
            }
        }
    }

    .accordeon_content {

        .accordeon_link {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            position: relative;
            color: #fff;
            transition: all .2s ease-in;

            &:after {
                content: url(../images/menu-arrow.png);
                position: absolute;
                width: 11px;
                height: 11px;
                top: 0;
                right: -20px;
            }

            &:hover {
                color: #31BEF4;
            }
        }
    }


}



// Mobile First

@media (min-width: 990px) {
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list>li {
        padding: 10px 0;
    }

    .menu__sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s ease 0s;
    }
}